In [1]:
import numpy as np
import pandas as pd
import json
data1=open('churn_survey.json')
data1_str=data1.read()
data=json.loads(data1_str)

In [2]:
#Q1.1
data_1=pd.DataFrame(data)
dataone=data_1['PaymentMethod'].value_counts()
dataone=dataone.reset_index()
print(dataone.iloc[0,0])

Electronic check

In [6]:
#Q1.2
data2=data_1.groupby('Churn').mean()['MonthlyCharges']
print(data2)

Churn
No     61.113471
Yes    74.652519
Name: MonthlyCharges, dtype: float64

In [7]:
#Q1.3
data3=data_1.groupby('Churn').std()['MonthlyCharges']
print(data3)

Churn
No     31.145963
Yes    25.064977
Name: MonthlyCharges, dtype: float64

In [243]:
#Q1.4
column_index=[0,1]
data4=data_1.iloc[:,column_index]
data4=data4.groupby('Churn')
data4=data4['Contract'].value_counts()
contract=pd.DataFrame({'Churn':['no','yes'],'Month-to-month':[1135,826],'one year':[647,78],'two year':[805,29]})
contract['sum']=contract.sum(axis=1)
contract['Month-to-Month']=contract['Month-to-month']/contract['sum']*100
contract['One year']=contract['one year']/contract['sum']*100
contract['Two year']=contract['two year']/contract['sum']*100
column_index=[0,5,6,7]
data4=contract.iloc[:,column_index]
data4=data4.round(2)
data4

  Churn  Month-to-Month  One year  Two year
0    no           43.87     25.01     31.12
1   yes           88.53      8.36      3.11

In [574]:
column_index=[0,1]
data4=data_1.iloc[:,column_index]
data4=data4.groupby(['Churn','Contract'])
data4=data4.size()
data4=pd.Series.to_frame(data4)
data4=data4.reset_index()
data4_1=data4.iloc[0:3,2].sum()
data4_2=data4.iloc[3:,2].sum()
data4['total']=[int(data4_1),int(data4_1),int(data4_1),int(data4_2),int(data4_2),int(data4_2)]
ratio=100*data4[0]/data4['total']
data4['proportion']=ratio
data4=pd.pivot_table(data4, index='Churn',columns='Contract')
data4=data4.iloc[:,6:]
data4=data4.reset_index('Churn')
data4.round(2)

         Churn     proportion
Contract       Month-to-month One year Two year
0           No          43.87    25.01    31.12
1          Yes          88.53     8.36     3.11

In [138]:
#Q1.5
data5=data_1.corrwith(data_1['MonthlyCharges']).round(4)
data5=pd.DataFrame({'feature':['TotalCharges'],'value':[0.6460]})
data5

        feature  value
0  TotalCharges  0.646

In [209]:
#Q1.6
data6=data_1[data_1.Churn!='Yes']
data6=data6.Tenure.describe()
pd.Series.to_frame(data6)

            Tenure
count  2587.000000
mean     37.078856
std      24.238726
min       0.000000
25%      14.000000
50%      37.000000
75%      60.500000
max      72.000000

In [530]:
#Q1.7
column=[4,3,8,9,15,16,17]
data7=data_1.iloc[:,column]
data7=data7.groupby(['Gender','DeviceProtection'])
data7=data7.size()
data7=pd.Series.to_frame(data7)
data7=data7.reset_index()
data8=data7.iloc[0:3,2].sum()
data9=data7.iloc[3:,2].sum()
row_index=[2,5]
data10=data7.loc[row_index,:]
data10['total']=[int(data8),int(data9)]
ratio=100*data10[0]/data10['total']
data10['addon_deviceprotection']=ratio
column_index=[0,4]
data10=data10.iloc[:,column_index]

column=[4,3,8,9,15,16,17]
data7=data_1.iloc[:,column]
data11=data7.groupby(['Gender','OnlineBackup'])
data11=data11.size()
data11=pd.Series.to_frame(data11)
data11=data11.reset_index()
data12=data11.iloc[0:3,2].sum()
data13=data11.iloc[3:,2].sum()
row_index=[2,5]
data14=data11.loc[row_index,:]
data14['total']=[int(data12),int(data13)]
ratio=100*data14[0]/data14['total']
data14['addon_onlinebackup']=ratio
column_index=[0,4]
data14=data14.iloc[:,column_index]

data15=data10.merge(data14)
data15.round(4)

   Gender  addon_deviceprotection  addon_onlinebackup
0  Female                 34.0703             34.6372
1    Male                 33.3523             33.0108

In [ ]:
#Q1.8